
body
{
  margin: 45px;
  background: khaki;
  font-size: 1.5em
}

h1
{
  margin: 10px;
}

fieldset
{
  border: none;
  padding: 0px;
  margin: 0px;
}

.squad, .yes_no
{
  margin: 10px;
  padding: 10px 10px 10px 20px;
  font-size: 1.6em;
  border: 1px solid gray;
}

input[type=submit], button
{
  font-size: 1em;
  margin: 10px;
  padding: 15px;
}

input[type=text]
{
  font-size: 1em;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 5ch;
}

input[type=checkbox]
{
  margin-left: 25px;
  transform: scale(2);
  position: relative;
  top: -5px;
}

#api-link
{
  font-size: 1em;
  position: absolute;
  bottom: 60px;
  left: 60px;
}