
body
{
    margin: 45px;
    background: khaki;
    font-size: 2em
}

fieldset
{
  border: none;
  padding: 0px;
  margin: 0px;
}

.squad, .yes_no
{
    margin: 10px;
    padding: 10px;
    font-size: 1.6em;
    border: 1px solid gray;
}

input[type=text]
{
    font-size: 1em;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 5ch;
}

input[type=checkbox]
{
    margin-left: 25px;
    transform: scale(3);
    position: relative;
    top: -10px;
}