<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8" />
      <title>Jerry Weinberg's XY Business Game</title>
      <meta name="author" content="Jon Jagger" />
      {% assets "css" %}<link rel="stylesheet" href="{{ ASSET_URL }}" />{% endassets %}
      {% assets "js" %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
  </head>
  <body>
    {% block body %} {% endblock %}
    <a id="api-link" href="/api/doc">API</a></div>
  </body>
  {% block page_custom_js %}
  {% endblock %}
</html>
