{% extends "base.html" %}

{% block body %}
<h1>XY Business Game: Score=={{ result.total_score }}</h1>
<a href="/score/{{ result.squads | length }}">
  <button>Reset</button>
</a>
<div id="scores">
    {% for squad in result.squads %}
    <div class="panel">
        Squad-{{ squad.char }}
        <input id="decisions_{{ squad.char }}"
               type="text"
               name="decisions_{{ squad.char }}"
               maxlength="5"
               value="{{ squad.letters }}"
               readonly>
        Score=={{ squad.total }}=={{ squad.scores }}
    </div>
    {% endfor %}
</div>
{% endblock %}
