{% extends "base.html" %}

{% block body %}
  <h1>XY Business Game</h1>
  {% from "_render_field.html" import render_field %}

  <form method="POST">
    {{ form.csrf_token }}

    <button onclick="location.href='/score/{{ form.n - 1 }}'"
            type="button" {{'disabled' if form.n == 2 }}>-</button>

    {{ form.n }}

    <button onclick="location.href='/score/{{ form.n + 1 }}'"
            type="button" {{'disabled' if form.n == 6}} >+</button>

    {{ form.submit() }}
    <fieldset class="form-group">
        {# render_field(form.squadA, class="xxx") #}
        <div class="squad">
          squad-A <input id="decisions_a" type="text" name="decisions_a" maxlength="5" value="">
          word? <input id="word_a" type="checkbox" name="word_a" value="">
        </div>

        <div class="squad">
          squad-B <input id="decisions_b" type="text" name="decisions_b" maxlength="5" value="">
          word? <input id="word_b" type="checkbox" name="word_b" value="">
        </div>

        <div class="squad">
          squad-C <input id="decisions_c" type="text" name="decisions_c" maxlength="5" value="">
          word? <input id="word_c" type="checkbox" name="word_c" value="">
        </div>

        <div class="yes_no">
          sentence?<input id="sentence" type="checkbox" name="sentence" value="">
        </div>

        <div class="yes_no">
          profound?<input id="profound" type="checkbox" name="profound" value="">
        </div>
    </fieldset>
  </form>
{% endblock %}
