{% extends "base.html" %}

{% block body %}
<h2>Scores</h2>
<div id="scores">
    <div class="squad">
      Squad-A <input id="decisions_a" type="text" name="decisions_a" maxlength="5" value="xyzzy">
        34=[4,4,15,5,6]
    </div>

    <div class="squad">
      Squad-B <input id="decisions_b" type="text" name="decisions_b" maxlength="5" value="hello">
        54=[25,25,2,2,0]
    </div>

    <div class="squad">
      Squad-C <input id="decisions_c" type="text" name="decisions_c" maxlength="5" value="world">
        55=[11,11,11,11,11]
    </div>
</div>
{% endblock %}
