{% extends "base.html" %}

{% block body %}
<h2>Division Score=={{ result.total_score }}</h2>
<div id="scores">
    {% for squad in result.squads %}
    <div class="squad">
        Squad-{{ squad.char }}
        <input id="decisions_{{ squad.char }}"
               type="text"
               name="decisions_{{ squad.char }}"
               maxlength="5"
               value="{{ squad.letters }}"
               readonly>
        {{ squad.total }}=={{ squad.scores }}
    </div>
    {% endfor %}
</div>
{% endblock %}
