<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Jerry Weinberg's XY Business Game</h1>
    <div id="decisions">
        Squad-A <input id="decisions_a" type="text" name="decisions_a" maxlength="5" value="">
        word? <input id="word_a" type="checkbox" name="word_a" value="">
        <br/>

        Squad-B <input id="decisions_b" type="text" name="decisions_b" maxlength="5" value="">
        word? <input id="word_b" type="checkbox" name="word_b" value="">
        <br/>

        Squad-C <input id="decisions_c" type="text" name="decisions_c" maxlength="5" value="">
        word? <input id="word_c" type="checkbox" name="word_c" value="">
        <br/>

        sentence?<input id="sentence" type="checkbox" name="sentence" value="">
        <br/>
        profound?<input id="profound" type="checkbox" name="profound" value="">
        <br/>
    </div>
  </body>
</html>
