[run]
data_file=/tmp/coverage/unit/.coverage
source=${XY_CONTAINER_ROOT_DIR}/server
branch=True
omit =
    **/__init__.py
    server/api/**
    server/app/**
    server/xy.py
    server/config.py
    server/sitecustomize.py
    test/conftest.py
    test/print_id.py
    test/system/**
