[run]
data_file=${XY_CONTAINER_COV_DIR}/.coverage.unit
source=${XY_CONTAINER_ROOT_DIR}/source
branch=True
omit =
    **/__init__.py
    source/api/**
    source/app/**
    source/xy.py
    source/config.py
    source/sitecustomize.py
    test/conftest.py
    test/print_id.py
    test/system/**
