gunicorn==20.1.0

werkzeug==2.2.3
flask==2.2.3
flask_restx==1.0.6
flask-WTF==1.0.1
requests==2.28.2

pytest==7.2.1
pytest-cov==4.0.0
pytest-random-order==1.1.0
pytest-xdist==3.2.0
beautifulsoup4==4.11.1
