# This .coveragerc file is named in the environment-variable
# COVERAGE_PROCESS_START=/${XY_DIR}/test/system/.coveragerc
# set in env_vars/test_system.env

[run]
source=${XY_DIR}/server
parallel=True
branch=True

#omit =
#    **/__init__.py
#    test/**
#    sitecustomize.py
